<div class="min-h-screen w-full p-5">
  <div class="max-w-4xl mx-auto">
    <h1 class="text-5xl font-extrabold text-quaternary text-center mb-12">FAQs</h1>

    <div class="space-y-6">
      <div *ngFor="let qa of qaList" class="rounded-2xl shadow-lg bg-gray-800 hover:bg-gray-800">
        <button
          class="w-full flex justify-between items-center p-5 focus:outline-none hover:bg-gray-700 transition-colors rounded-2xl"
          (click)="qa.isOpen = !qa.isOpen">
          <span class="text-xl font-semibold text-tertiary">{{ qa.question }}</span>
          <svg class="w-6 h-6 text-white   transition-transform duration-300" [class.rotate-180]="qa.isOpen"
            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
          </svg>
        </button>
        <div *ngIf="qa.isOpen" class="px-5 pt-3 pb-5 text-white bg-gray-700 rounded-b-2xl">
          {{ qa.answer }}
        </div>
      </div>
    </div>

    <div class="mt-14 text-center">
      <p class="text-tertiary mb-4 text-lg">Didn't find what you were looking for?</p>
      <a href="mailto:info@fritfest.com"
        class="inline-block bg-primary text-white font-semibold py-3 px-6 rounded-full shadow hover:bg-tertiary transition">
        Contact Us
      </a>
    </div>
  </div>
</div>