.time-schedule {
    display: flex;
    position: relative;
    overflow-x: auto; /* Enable horizontal scrolling */
    overflow-y: hidden; /* Hide vertical scrolling if not needed */
    white-space: nowrap; /* Prevent wrapping of child elements */
    padding-bottom: 1rem; /* Add space for scroll bar */
  }
  
  .times-column {
    position: sticky;
    left: 0;
    padding: 1rem;
    position: relative;
  }
  
  .time-row {
    height: 117px; /* Match scale */
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 14px;
  }
  
  .schedule-grid {
    display: grid;
    grid-auto-flow: column; /* Force columns to stay in one row */
    grid-template-columns: repeat(auto-fit, minmax(350px, 350px)); /* Fixed width for each column */
    gap: 1rem; /* Add some spacing between columns */
    min-width: max-content; /* Prevent shrinking of content */
    position: relative;
  }
  
  .stage-column {
    position: relative;
    flex-shrink: 0; 
    width: 350px; /* Fix each column width to the same value */
  }
  
  .stage-header {
    text-align: center;
    font-weight: bold;
    padding: 25px;
  }
  
  .artist-slot {
    position: absolute;
    left: 10px;
    right: 10px;
    background: #F2055C;
    color: #fff;
    padding: 5px;
    font-size: 12px;
    z-index: 30;
  }
  
  