<div class="container mx-auto p-6 max-w-4xl">
  @if (isAdd) {
    <h1 class="text-2xl font-bold text-yellow-200 mb-6 text-center">
      Add a location
    </h1>
  } @if (isEdit) {
  <h1 class="text-2xl font-bold text-yellow-200 mb-6 text-center">
    Edit a location
  </h1>
} @if(isSubmitted && errorMessage) {
  <div
    class="rounded p-4 mb-4 text-lg bg-red-200 text-red-800 border-2 border-red-300"
  >
    {{ errorMessage }}
  </div>
}

  <form (ngSubmit)="onSubmit()" #locationForm="ngForm" class="px-4">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <!-- Naam -->
      <div>
        <label for="name" class="block mb-2 text-sm font-medium text-primary"
        >Location name</label
        >
        <input
          type="text"
          id="name"
          name="name"
          class="bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          placeholder="Name"
          required
          [(ngModel)]="location.name"
          #name="ngModel"
        />
        <div [hidden]="name.valid || name.pristine" class="text-red-500 mt-2">
          Name is required
        </div>
      </div>
      <div>
      </div>

      <div>
        <label for="latitude" class="block mb-2 text-sm font-medium text-primary"
        >Location latitude</label
        >
        <input
          type="number"
          id="latitude"
          name="latitude"
          class="bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          placeholder="Latitude"
          required
          [(ngModel)]="location.latitude"
          #latitude="ngModel"
        />
        <div [hidden]="latitude.valid || latitude.pristine" class="text-red-500 mt-2">
          Latitude is required
        </div>
      </div>
      <div>
        <label for="longitude" class="block mb-2 text-sm font-medium text-primary"
        >Location longitude</label
        >
        <input
          type="number"
          id="longitude"
          name="longitude"
          class="bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          placeholder="Longitude"
          required
          [(ngModel)]="location.longitude"
          #longitude="ngModel"
        />
        <div [hidden]="longitude.valid || longitude.pristine" class="text-red-500 mt-2">
          Longitude is required
        </div>
      </div>




    </div>

    <!-- Buttons -->
    <div class="flex space-x-4 mt-6">
      @if(isAdd) {
        <button
          type="submit"
          [disabled]="!locationForm.form.valid || isSubmitted"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center disabled:opacity-75"
        >
          Add
        </button>
      } @if(isEdit) {
      <button
        type="submit"
        [disabled]="!locationForm.form.valid || isSubmitted"
        class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center disabled:opacity-75"
      >
        Save
      </button>
    }
    </div>
  </form>
</div>
