<div>
  <div class="text-center m-5 text-5xl font-extrabold text-quaternary">
    <h1>Line up</h1>
  </div>
  <div class="flex justify-center gap-4 items-center">
    @for (filter of filters; track $index) { 
      <button type="button" class="text-white font-bold py-2 my-3 px-4 rounded" 
      [ngClass]="{ 'bg-primary hover:bg-tertiary': selectedFilter !== filter.value, 
      'bg-tertiary hover:bg-tertiary': selectedFilter === filter.value }" 
      (click)="updateFilter(filter.value)" > {{ filter.label }} </button> }
  </div>  
  <div> @for (group of displayedGroups | keyvalue; track $index) 
    { 
      <h2 class="text-3xl font-bold text-center text-tertiary m-5"> {{ group.key }} </h2> 
      <div class="flex flex-wrap justify-center gap-20 m-5"> 
        @for (artist of group.value; track $index) 
        { 
          <app-artist [artist]="artist" class="w-full sm:w-auto"></app-artist> 
        } 
      </div> 
    } 
  </div>
</div>