@if(stage) {
    <div class="bg-background rounded-3xl overflow-hidden shadow-xl h-full flex flex-col transition-all duration-300 ease-in-out hover:shadow-2xl hover:scale-102 group">
        <div class="relative h-2/5 overflow-hidden">
            <img class="w-full h-full object-cover transition-transform duration-300 group-hover:scale-110" [src]="stage.imageUrl" [alt]="stage.imageCaption">
            <div class="absolute inset-0 bg-gradient-to-t from-black/70 to-transparent"></div>
            <h2 class="absolute bottom-6 left-6 text-4xl font-bold text-white drop-shadow-lg">{{stage.name}}</h2>
        </div>
        <div class="p-8 flex-grow flex flex-col justify-between">
            <div>
                <p class="text-primary text-2xl font-semibold mb-4">{{getStageSize()}} Stage</p>
                <p class="text-text-light text-lg mb-2"><strong>Size:</strong> {{stage.size}} m² ({{getStageHeight()}} height)</p>
                <p class="text-text-light text-lg mb-4"><strong>Location:</strong> {{stage.location.latitude.toFixed(4)}}, {{stage.location.longitude.toFixed(4)}}</p>
                <p class="text-text-light text-lg line-clamp-4 mb-6">{{stage.description}}</p>
            </div>
            <div class="mt-auto">
                <button class="w-full bg-primary text-white font-bold py-5 px-6 rounded-xl text-xl hover:bg-opacity-90 transition-all duration-300 transform hover:translate-y-[-3px] hover:shadow-lg">
                    View Schedule
                </button>
            </div>
        </div>
    </div>
}
