@if(ticket) {
<!-- Card -->
<div class="card bg-white shadow-lg p-6 rounded-lg w-full" style="max-width: 400px;">
    <div class="flex justify-between items-start">
        <!-- Left Side: Title and Description -->
        <div class="flex-grow mr-4">
        <h5 class="text-xl font-semibold mb-2 text-left">{{ticketType?.naam}} Ticket {{ticket.dagId}}</h5>
        <p class="text-gray-500 text-left">€ {{ticketType?.prijs}}</p>
        </div>

        <!-- Right Side: Icon and Amount Input -->
        <div class="flex items-center">
        <input 
            type="number" 
            class="w-24 h-16 border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-blue-400" 
            placeholder="Qty" 
            min="1">
        </div>
    </div>
</div>
}