<div class="container mx-auto mt-8 px-8">
  @if(errorMessage) {
  <div
    class="rounded p-4 mb-4 text-lg bg-red-100 text-red-800 border border-red-400 shadow-md"
  >
    {{ errorMessage }}
  </div>
  }
  <div class="mb-6 flex-wrap items-center justify-between">
    <button
    class="px-4 py-2 bg-primary text-white rounded-md hover:bg-tertiary transition ease-in-out"
    (click)="goBack()"
  >
    Go Back
  </button>


    <h1 class="text-4xl font-bold text-quaternary">Manage Artists</h1>
    <input
      type="text"
      placeholder="Search artists..."
      [(ngModel)]="searchTerm"
      (input)="filteredArtists()"
      class="mt-4 md:mt-0 px-4 py-2 rounded-lg border border-gray-300 shadow-sm focus:outline-none focus:ring-2 focus:ring-primary focus:border-primary transition duration-200 ease-in-out"
    />
    <button
      class="mt-4 md:mt-0 px-5 py-3 rounded-md bg-primary text-white font-semibold hover:bg-tertiary transition duration-300 ease-in-out"
      (click)="add()"
    >
      Create Artist
    </button>
  </div>
  <div class="overflow-x-auto">
    <div
      class="inline-block min-w-full overflow-auto align-middle shadow-lg rounded-lg"
    >
      <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-primary text-white">
          <tr>
            <th class="px-6 py-3 text-md font-bold text-left">#</th>
            <th class="px-6 py-3 text-md font-bold text-left">Name</th>
            <th class="px-6 py-3 text-md font-bold text-left">Email</th>
            <th class="px-6 py-3 text-md font-bold text-left">Description</th>
            <th class="px-6 py-3 text-md font-bold text-left">Spotify Link</th>
            <th class="px-6 py-3 text-md font-bold text-left">Photo</th>
            <th class="px-6 py-3 text-md font-bold text-left">Genre</th>
            <th class="px-6 py-3 text-md font-bold text-left">Editions</th>
            <th class="px-6 py-3 text-md text-center">&nbsp;</th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-300">
          @for (artist of filteredArtists$ | async; track artist.artistId) {
          <tr class="hover:bg-gray-100 transition ease-in-out">
            <td class="px-6 py-4 text-sm font-medium text-gray-700">
              {{ $index + 1 }}
            </td>
            <td class="px-6 py-4 text-sm text-gray-600">{{ artist.name }}</td>
            <td class="px-6 py-4 text-sm text-gray-600">
              @if(artist.mail){
              <a href="mailto:{{ artist.mail }}" class="px-2 py-1 rounded-md bg-blue-100 text-blue-800 font-semibold">
                {{ artist.mail }}
              </a>
              } @else {
                No email available
              }

            </td>
            <td class="px-6 py-4 text-sm text-gray-600 truncate max-w-sm">
              <div class="tooltip" [title]="artist.description">
                {{ artist.description | slice:0:30 }}{{ artist.description.length > 30 ? '...' : '' }}
              </div>
            </td>
            <td class="px-6 py-4 text-sm w-full sm:w-1/2 md:w-1/3 lg:w-1/4">
              @if (artist.apiCode) {

              <a
                href="{{ artist.spotifyLink }}"
                target="_blank"
                class="hover:underline text-blue-600 px-2 py-1 rounded-md bg-blue-100 font-semibold tooltip"
                >{{ artist.name }}</a
              >

              }@else {
              <p>No Spotify link available</p>
              }
            </td>
            <td class="px-6 py-4 text-sm text-gray-600 truncate max-w-sm">
              <img src="{{ artist.spotifyPhoto }}" alt="{{ artist.name }}" />
            </td>
            <td class="px-6 py-4 text-sm text-gray-600">{{ artist.genre }}</td>
            <td class="px-6 py-4 text-sm text-gray-600">{{ artist.editionName }}</td>
            <td class="px-6 py-4 text-sm font-bold text-center">
              <div class="flex justify-end gap-4">
                <!-- Edit Button -->
                <button
                  (click)="edit(artist.artistId)"
                  title="Edit"
                  aria-label="Edit"
                  class="flex items-center gap-2 px-3 py-2 rounded-md bg-blue-100 text-blue-800 hover:bg-blue-200 transition ease-in-out"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-5 h-5"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"
                    />
                  </svg>
                  <span>Edit</span>
                </button>

                <!-- Delete Button -->
                <button
                  (click)="delete(artist.artistId)"
                  title="Delete"
                  aria-label="Delete"
                  class="flex items-center gap-2 px-3 py-2 rounded-md bg-red-100 text-red-800 hover:bg-red-200 transition ease-in-out"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-5 h-5"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
                    />
                  </svg>
                  <span>Delete</span>
                </button>
              </div>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
