<div class="text-center mt-5 text-5xl font-extrabold text-quaternary">
  <h1>Food</h1>
</div>
<div class="min-h-screen w-full p-5 sm:p-10 flex items-start justify-center overflow-y-auto">
  <div class="w-full max-w-8xl grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-10 auto-rows-min">
    @for (foodtruck of foodtrucks$ | async; track foodtruck.foodTruckId){
    <div class="bg-tertiary shadow-2xl rounded-xl p-8 transform transition-transform hover:scale-105 hover:shadow-3xl">
      <div class="flex items-center mb-4">
        <div class="bg-primary w-16 h-16 rounded-full border-white border  mr-4 flex items-center justify-center">
          <span class="text-xl font-bold text-white">{{ foodtruck.name.charAt(0) }}</span>
        </div>
        <div>
          <h2 class="text-2xl font-extrabold text-secondary">{{ foodtruck.name }}</h2>
          <p class="text-sm italic text-secondary">Location: {{ foodtruck.locationName }}</p>
        </div>
      </div>
      <h3 class="text-xl font-semibold text-secondary  mt-6 mb-4 border-b-2 border-gray-200 pb-2">Menu Items</h3>
      <ul class="mt-4 space-y-3">
        @for(item of foodtruck.menuItems; track $index){
        <li class="flex justify-between items-center text-secondary bg-gray-100 p-3 rounded-lg shadow-sm">
          <span class="text-lg">{{ item.name }}</span>
          <span class="text-lg font-bold">€{{ item.price.toFixed(2) }}</span>
        </li>}
      </ul>
    </div>
    }
  </div>
</div>