<div class="container mx-auto p-6 max-w-4xl">
    @if (isAdd) {
        <h1 class="text-2xl font-bold text-yellow-200 mb-6 text-center">Add an artist</h1>
    }
    @if (isEdit) {
        <h1 class="text-2xl font-bold text-yellow-200 mb-6 text-center">Edit an artist</h1>
    }
    

    @if(isSubmitted && errorMessage) {
    <div class="rounded p-4 mb-4 text-lg bg-red-200 text-red-800 border-2 border-red-300">
        {{ errorMessage }}
    </div>
    }

    <form (ngSubmit)="onSubmit()" #artistForm="ngForm" class="px-4">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <!-- Naam -->
            <div>
                <label for="naam" class="block mb-2 text-sm font-medium text-primary">Naam</label>
                <input type="text" id="naam" name="naam"
                    class="bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                    placeholder="Naam" required [(ngModel)]="artist.naam" #naam="ngModel">
                <div [hidden]="naam.valid || naam.pristine" class="text-red-500 mt-2">Naam is required</div>
            </div>

            <!-- Email -->
            <div>
                <label for="email" class="block mb-2 text-sm font-medium text-primary">Email</label>
                <input type="email" id="email" name="email"
                    class="bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                    placeholder="Email" required [(ngModel)]="artist.email" #email="ngModel">
                <div [hidden]="email.valid || email.pristine" class="text-red-500 mt-2">Email is required</div>
            </div>

            <!-- Beschrijving -->
            <div class="col-span-2">
                <label for="beschrijving" class="block mb-2 text-sm font-medium text-primary">Beschrijving</label>
                <textarea id="beschrijving" name="beschrijving"
                    class="bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                    placeholder="Beschrijving" required [(ngModel)]="artist.beschrijving"
                    #beschrijving="ngModel"></textarea>
                <div [hidden]="beschrijving.valid || beschrijving.pristine" class="text-red-500 mt-2">Beschrijving is
                    required</div>
            </div>

            <!-- Edities
            <div class="col-span-2">
                <label for="edities" class="block mb-2 text-sm font-medium text-primary">Edities</label>
                <select id="edities" name="edities" multiple
                    class="bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                    required [(ngModel)]="artist.edities" #edities="ngModel">
                    @for (editie of editions$ | async; track $index) {
                        <option [value]="editie">{{ editie }}</option>
                    }   
                </select>
                <div [hidden]="edities.valid || edities.pristine" class="text-red-500 mt-2">At least one editie is
                    required</div>
            </div> -->
        </div>

        <!-- Buttons -->
        <div class="flex space-x-4 mt-6">
            @if(isAdd) {
            <button type="submit" [disabled]="!artistForm.form.valid || isSubmitted"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center disabled:opacity-75">
                Add
            </button>
            }
            @if(isEdit) {
            <button type="submit" [disabled]="!artistForm.form.valid || isSubmitted"
                class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center disabled:opacity-75">
                Save
            </button>
            }
        </div>
    </form>
</div>