<div class="container mx-auto p-6 max-w-4xl">
  @if (isAdd) {
  <h1 class="text-2xl font-bold text-yellow-200 mb-6 text-center">
    Add a sponsor
  </h1>
  } @if (isEdit) {
  <h1 class="text-2xl font-bold text-yellow-200 mb-6 text-center">
    Edit a sponsor
  </h1>
  } @if(isSubmitted && errorMessage) {
  <div
    class="rounded p-4 mb-4 text-lg bg-red-200 text-red-800 border-2 border-red-300"
  >
    {{ errorMessage }}
  </div>
  }

  <form (ngSubmit)="onSubmit()" #sponsorForm="ngForm" class="px-4">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <!-- Naam -->
      <div>
        <label for="name" class="block mb-2 text-sm font-medium text-primary"
          >Sponsor name</label
        >
        <input
          type="text"
          id="name"
          name="name"
          class="bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          placeholder="Name"
          required
          [(ngModel)]="sponsor.sponsorName"
          #name="ngModel"
        />
        <div [hidden]="name.valid || name.pristine" class="text-red-500 mt-2">
          Name is required
        </div>
      </div>

      <!-- Email -->
      <div>
        <label for="mail" class="block mb-2 text-sm font-medium text-primary"
          >Sponsor Mail</label
        >
        <input
          type="email"
          id="mail"
          name="mail"
          class="bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          placeholder="Mail"
          required
          [(ngModel)]="sponsor.sponsorMail"
          #mail="ngModel"
        />
        <div [hidden]="mail.valid || mail.pristine" class="text-red-500 mt-2">
          Mail is required
        </div>
      </div>

      <!-- Amount -->
      <div class="col-span-2">
        <label for="amount" class="block mb-2 text-sm font-medium text-primary">
          Amount
        </label>
        <input
          type="number"
          id="amount"
          name="amount"
          class="bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          placeholder="Amount"
          required
          [(ngModel)]="sponsor.amount"
          #amount="ngModel"
        />
        <div [hidden]="amount.valid || amount.pristine" class="text-red-500 mt-2">
          Amount is required
        </div>
      </div>

      <!-- Item -->
      <div class="col-span-2">
        <label for="amount" class="block mb-2 text-sm font-medium text-primary"
          >Item</label
        >
        <input
          id="item"
          name="item"
          type="text"
          class="bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          placeholder="Item"
          required
          [(ngModel)]="sponsor.sponsoredItem"
          #item="ngModel"
        >
        <div [hidden]="item.valid || item.pristine" class="text-red-500 mt-2">
          Description is required
        </div>
      </div>

<!--      &lt;!&ndash; Sponsor Logo &ndash;&gt;-->
<!--      @if(isAdd || isEdit) {-->
<!--        <div class="col-span-2">-->
<!--          <label for="logo" class="block mb-2 text-sm font-medium text-primary">-->
<!--            Sponsor Logo-->
<!--          </label>-->
<!--          <input-->
<!--            type="file"-->
<!--            id="logo"-->
<!--            name="logo"-->
<!--            accept="image/*"-->
<!--            class="bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"-->

<!--            #logoInput-->
<!--          />-->
<!--          <div class="mt-2">-->
<!--            @if(sponsor.sponsorLogo) {-->
<!--              <img-->
<!--                [src]="sponsor.sponsorLogo"-->
<!--                alt="Sponsor Logo"-->
<!--                class="max-h-32 object-contain border rounded"-->
<!--              />-->
<!--            } @else {-->
<!--              <p class="text-gray-500 text-sm">-->
<!--                No logo uploaded yet.-->
<!--              </p>-->
<!--            }-->
<!--          </div>-->
<!--        </div>-->
<!--      }-->

      <!-- Edities
            <div class="col-span-2">
                <label for="edities" class="block mb-2 text-sm font-medium text-primary">Edities</label>
                <select id="edities" name="edities" multiple
                    class="bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                    required [(ngModel)]="artist.edities" #edities="ngModel">
                    @for (editie of editions$ | async; track $index) {
                        <option [value]="editie">{{ editie }}</option>
                    }
                </select>
                <div [hidden]="edities.valid || edities.pristine" class="text-red-500 mt-2">At least one editie is
                    required</div>
            </div> -->
    </div>

    <!-- Buttons -->
    <div class="flex space-x-4 mt-6">
      @if(isAdd) {
      <button
        type="submit"
        [disabled]="!sponsorForm.form.valid || isSubmitted"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center disabled:opacity-75"
      >
        Add
      </button>
      } @if(isEdit) {
      <button
        type="submit"
        [disabled]="!sponsorForm.form.valid || isSubmitted"
        class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center disabled:opacity-75"
      >
        Save
      </button>
      }
    </div>
  </form>
</div>
