<div class="container mx-auto p-6 max-w-4xl">
    <h1 class="text-2xl font-bold text-yellow-200 mb-6 text-center">
      {{ isAdd ? 'Add a Ticket' : 'Edit a Ticket' }}
    </h1>
    @if(isSubmitted && errorMessage) {
    <div
      class="rounded p-4 mb-4 text-lg bg-red-200 text-red-800 border-2 border-red-300"
    >
      {{ errorMessage }}
    </div>
    }

    <form (ngSubmit)="onSubmit()" #ticketForm="ngForm" class="px-4">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <!-- Edition name -->

          <!-- Dropdown for Editions -->
          <label for="edition" class="block mb-2 text-sm font-medium text-primary">Select Edition:</label>
          <select
            id="edition"
            [(ngModel)]="ticket.editionId"
            name="edition"
            class="form-control"
            required
          >
            @for (edition of editions$; track edition){
              <option [value]="edition.editionId">
                {{ edition.editionName }}
              </option>}
          </select>


        <!-- Ticket Price -->

          <!-- Dropdown for Editions -->
          <label for="price" class="block mb-2 text-sm font-medium text-primary">Select the price:</label>
          <select
            id="price"
            [(ngModel)]="ticket.ticketTypeId"
            name="price"
            class="form-control"
            required
          >
            @for (type of ticketTypes$; track type){
              <option [value]="type.ticketTypeId">
                €{{ type.price }}
              </option>}
          </select>

        <!-- Day of the ticket -->


          <label for="day" class="block mb-2 text-sm font-medium text-primary">Select the day:</label>
          <select
            id="day"
            [(ngModel)]="ticket.dayId"
            name="day"
            class="form-control"
            required
          >
            @for (day of days$; track day){
              <option [value]="day.dayId">
                {{ day.name }}
              </option>}
          </select>




      </div>
      <!-- editionId
      ticketTypeId
      dayId -->

      <!-- Buttons -->
      <div class="flex space-x-4 mt-6">
        @if(isAdd) {
        <button
          type="submit"
          [disabled]="!ticketForm.form.valid || isSubmitted"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center disabled:opacity-75"
        >
          Add
        </button>
        } @if(isEdit) {
        <button
          type="submit"
          [disabled]="!ticketForm.form.valid || isSubmitted"
          class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center disabled:opacity-75"
        >
          Save
        </button>
        }
      </div>
    </form>
  </div>
