<div class="container mx-auto p-6 max-w-4xl">
    <h1 class="text-2xl font-bold text-yellow-200 mb-6 text-center">
      {{ isAdd ? 'Add a Ticket' : 'Edit a Ticket' }}
    </h1>
    @if(isSubmitted && errorMessage) {
    <div
      class="rounded p-4 mb-4 text-lg bg-red-200 text-red-800 border-2 border-red-300"
    >
      {{ errorMessage }}
    </div>
    }

    <form (ngSubmit)="onSubmit()" #ticketForm="ngForm" class="px-4">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <!-- Edition name -->

          <!-- Dropdown for Editions -->
        <div class="col-span-2">
          <!-- Dropdown for Location -->
          <label for="edition" class="block mb-2 text-sm font-medium text-primary">Select edition:</label>
          <select
            id="edition"
            [(ngModel)]="ticket.editionId"
            name="edition"
            class="form-select block w-full px-4 py-2 text-base text-gray-700 bg-white border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-green-500 focus:border-green-500 hover:border-gray-400 transition ease-in-out duration-300"
            required
            #edition="ngModel"
          >
            <option value="" disabled selected>-- Select an edition --</option>
            @for (edition of editions$; track edition){
              <option [value]="edition.editionId">
                {{ edition.editionName }}
              </option>
            }
          </select>
          <div
            [hidden]="edition.valid || edition.pristine"
            class="text-red-500 mt-2"
          >
            Edition is required
          </div>

        </div>


        <!-- Ticket Price -->
        <div class="col-span-2">
          <!-- Dropdown for Location -->
          <label for="price" class="block mb-2 text-sm font-medium text-primary">Select the price:</label>
          <select
            id="price"
            [(ngModel)]="ticket.ticketTypeId"
            name="price"
            class="form-select block w-full px-4 py-2 text-base text-gray-700 bg-white border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-green-500 focus:border-green-500 hover:border-gray-400 transition ease-in-out duration-300"
            required
            #price="ngModel"
          >
            <option value="" disabled selected>-- Select the price --</option>
            @for (type of ticketTypes$; track type){
              <option [value]="type.ticketTypeId">
                €{{ type.price }}
              </option>}

          </select>
          <div
            [hidden]="price.valid || price.pristine"
            class="text-red-500 mt-2"
          >
            Price is required
          </div>

        </div>


        <!-- Day of the ticket -->
        <div class="col-span-2">
          <!-- Dropdown for Location -->
          <label for="day" class="block mb-2 text-sm font-medium text-primary">Select the day:</label>
          <select
            id="day"
            [(ngModel)]="ticket.dayId"
            name="day"
            class="form-select block w-full px-4 py-2 text-base text-gray-700 bg-white border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-green-500 focus:border-green-500 hover:border-gray-400 transition ease-in-out duration-300"
            required
            #day="ngModel"
          >
            <option value="" disabled selected>-- Select the day --</option>
            @for (day of days$; track day){
              <option [value]="day.dayId">
                {{ day.name }}
              </option>}

          </select>
          <div
            [hidden]="day.valid || day.pristine"
            class="text-red-500 mt-2"
          >
            Day is required
          </div>

        </div>



      </div>
      <!-- editionId
      ticketTypeId
      dayId -->

      <!-- Buttons -->
      <div class="flex space-x-4 mt-6">
        @if(isAdd) {
        <button
          type="submit"
          [disabled]="!ticketForm.form.valid || isSubmitted"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center disabled:opacity-75"
        >
          Add
        </button>
        } @if(isEdit) {
        <button
          type="submit"
          [disabled]="!ticketForm.form.valid || isSubmitted"
          class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center disabled:opacity-75"
        >
          Save
        </button>
        }
      </div>
    </form>
  </div>
