<div class="container mx-auto p-6 max-w-4xl">
  @if (isAdd) {
    <h1 class="text-2xl font-bold text-yellow-200 mb-6 text-center">
      Add a food truck
    </h1>
  } @if (isEdit) {
  <h1 class="text-2xl font-bold text-yellow-200 mb-6 text-center">
    Edit a food truck
  </h1>
} @if(isSubmitted && errorMessage) {
  <div
    class="rounded p-4 mb-4 text-lg bg-red-200 text-red-800 border-2 border-red-300"
  >
    {{ errorMessage }}
  </div>
}

  <form (ngSubmit)="onSubmit()" #foodtruckForm="ngForm" class="px-4">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <!-- Naam -->
      <div>
        <label for="name" class="block mb-2 text-sm font-medium text-primary"
        >Food truck name</label
        >
        <input
          type="text"
          id="name"
          name="name"
          class="bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          placeholder="Name"
          required
          [(ngModel)]="foodtruck.name"
          #name="ngModel"
        />
        <div [hidden]="name.valid || name.pristine" class="text-red-500 mt-2">
          Name is required
        </div>
      </div>

      <div class="col-span-2">
        <!-- Dropdown for Editions -->
        <label for="edition" class="block mb-2 text-sm font-medium text-primary">Select Edition:</label>
        <select
          id="edition"
          [(ngModel)]="foodtruck.editionId"
          name="edition"
          class="form-select block w-full px-4 py-2 text-base text-gray-700 bg-white border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-green-500 focus:border-green-500 hover:border-gray-400 transition ease-in-out duration-300"
          required
          #edition="ngModel"
        >
          <option value="" disabled selected>-- Select an edition --</option>
          @for (edition of editions$; track edition){
            <option [value]="edition.editionId">
              {{ edition.editionName }}
            </option>
          }
        </select>
        <div
          [hidden]="edition.valid || edition.pristine"
          class="text-red-500 mt-2"
        >
          Edition is required
        </div>
      </div>
      <div class="col-span-2">
        <!-- Dropdown for Editions -->
        <label for="location" class="block mb-2 text-sm font-medium text-primary">Select Location:</label>
        <select
          id="location"
          [(ngModel)]="foodtruck.locationId"
          name="location"
          class="form-select block w-full px-4 py-2 text-base text-gray-700 bg-white border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-green-500 focus:border-green-500 hover:border-gray-400 transition ease-in-out duration-300"
          required
          #location="ngModel"
        >
          <option value="" disabled selected>-- Select a location --</option>
          @for (location of locations$; track location){
            <option [value]="location.locationId">
              {{ location.name }}
            </option>
          }
        </select>
        <div
          [hidden]="location.valid || location.pristine"
          class="text-red-500 mt-2"
        >
          Location is required
        </div>
      </div>

    </div>

    <!-- Buttons -->
    <div class="flex space-x-4 mt-6">
      @if(isAdd) {
        <button
          type="submit"
          [disabled]="!foodtruckForm.form.valid || isSubmitted"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center disabled:opacity-75"
        >
          Add
        </button>
      } @if(isEdit) {
      <button
        type="submit"
        [disabled]="!foodtruckForm.form.valid || isSubmitted"
        class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center disabled:opacity-75"
      >
        Save
      </button>
    }
    </div>
  </form>
</div>
