<div class="min-h-screen bg-gray-900 py-8">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <h1
            class="text-5xl font-extrabold text-quaternary text-center tracking-wide mb-6">
            Your Dashboard
        </h1>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
            @for (link of adminLinks; track $index) {
            <div (click)="navigate(link)" class="bg-secondary hover:bg-primary text-text-light hover:text-text-light transition-all duration-300 ease-in-out shadow-xl rounded-xl p-6 flex flex-col items-center cursor-pointer transform hover:scale-105"
                >
                <div class="mb-4 flex items-center justify-center w-16 h-16 bg-tertiary rounded-full shadow-inner">
                    <img [src]="link.icon" alt="{{ link.name }}" class="w-10 h-10" />
                </div>
                <h3 class="text-lg text-quaternary font-semibold mt-2">{{ link.name }}</h3>
            </div>
            }
        </div>
    </div>
</div>
