<div class="day-list-container relative">
  @if(isLoading) {
  <app-loader></app-loader>
  } @else {
  <!-- Header -->
  <h1 class="text-5xl font-extrabold text-quaternary mb-10 mt-10 drop-shadow-lg text-center">Get your tickets now!</h1>

  <!-- Sticky Bar with Button -->
  <div id="sticky-bar" class="sticky-bar transition-all duration-300 ease-in-out">
    <div class="my-8 text-center">
      <div
        class="ticket-button group relative inline-flex items-center justify-center px-8 py-4 text-lg font-bold text-white transition-transform duration-300 ease-out transform hover:scale-105 hover:shadow-lg bg-gradient-to-r from-purple-600 via-pink-500 to-red-500 rounded-full overflow-hidden shadow-2xl"
        [class.cursor-not-allowed]="totalSelectedTickets === 0" [class.opacity-50]="totalSelectedTickets === 0"
        (click)="submitTickets()" [attr.disabled]="totalSelectedTickets === 0 ? true : null">
        <span
          class="absolute inset-0 w-full h-full opacity-50 group-hover:opacity-75 transition-opacity duration-300 bg-gradient-to-r from-purple-600 via-pink-500 to-red-500"></span>
        <span class="relative pointer-events-none select-none">Get Your Tickets</span>
        <svg
          class="relative w-5 h-5 ml-2 transition-transform duration-300 ease-out transform group-hover:translate-x-1"
          fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
        </svg>
      </div>
    </div>
  </div>

  <!-- Tickets List -->
  @for (day of days$ | async; track $index) {
  <section class="day-section mb-6 mt-6 pb-8">
    <div class="text-center">
      <h2 class="text-4xl font-bold text-tertiary mb-6">
        {{day.name}}
      </h2>

      <!-- Flex container for tickets -->
      <div class="flex flex-wrap justify-center gap-8 p-6">
        @for (tick of (filteredTicketsMap.get(day.dayId) | async)!; track $index) {
        <app-ticket 
          [ticket]="tick" 
          [ticketType]="ticketTypeMap.get(tick.ticketTypeId)!"
          (quantityChange)="onTicketQuantityChange($event)">
        </app-ticket>
        }
      </div>
    </div>
  </section>
  }
  }
</div>