<div class="w-full px-8 py-8">
  <div class="max-w-4xl mx-auto bg-white bg-opacity-20 backdrop-blur-md rounded-xl shadow-lg p-8">
    <h1 class="text-5xl font-bold text-quaternary text-center mb-12">Privacy Policy</h1>

    <div class="space-y-8">
      <section *ngFor="let section of sections" class="mb-8">
        <h2 class="text-3xl font-semibold text-tertiary mb-4">{{ section.title }}</h2>
        <div class="text-white" [innerHTML]="section.content"></div>
      </section>
    </div>

    <div class="mt-14 text-center">
      <p class="text-tertiary mb-4 text-lg">Have questions about our Privacy Policy?</p>
      <a href="mailto:privacy@fritfest.com"
        class="inline-block bg-primary text-white font-semibold py-3 px-6 rounded-full shadow hover:bg-tertiary transition">
        Contact Us
      </a>
    </div>
  </div>
</div>