<div class="relative min-h-screen bg-gradient-to-r from-green-400 via-blue-500 to-purple-600">
  <div class="absolute inset-0 bg-cover bg-center bg-no-repeat opacity-70 transition-opacity duration-1000"
    [ngStyle]="{'background-image': 'url(' + backgroundImage + ')'}" #bgImage></div>
  <div class="relative z-10 max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-16">
    <div class="text-center mb-16">
      <h1 class="text-8xl font-extrabold text-primary mt-24 drop-shadow-2xl">Welcome to FritFest</h1>
    </div>
    <div class=" grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 m-5">
      @for (card of cards; track $index) {
      <div
        class="bg-secondary bg-opacity-90 rounded-2xl shadow-2xl p-8 transform hover:scale-105 transition-transform duration-500"
        [attr.id]="'card-' + $index">
        <i [class]="'fas ' + card.icon + ' text-5xl text-primary mb-6'"></i>
        <h3 class="text-3xl font-bold text-primary mb-4">{{ card.title }}</h3>
        <p class="text-white">{{ card.description }}</p>
      </div>
      }
    </div>
    <div class="mt-20 text-center">
      <a routerLink="/tickets"
        class="ticket-button group relative inline-flex items-center justify-center px-10 py-5 text-xl font-bold text-white transition-all duration-500 ease-in-out bg-primary group-hover:bg-tertiary rounded-full overflow-hidden">
        <span class="absolute inset-0 w-full h-full bg-primary group-hover:bg-tertiary"></span>
        <span
          class="absolute bottom-0 right-0 block w-72 h-72 mb-36 mr-6 transition duration-700 origin-bottom-left transform rotate-45 translate-x-28 group-hover:rotate-90 ease"></span>
        <span class="relative">Get Your Tickets</span>
        <svg
          class="relative w-6 h-6 ml-3 transition-transform duration-500 ease-out transform group-hover:translate-x-2"
          fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
        </svg>
      </a>
    </div>
  </div>
</div>