<div class="container mx-auto p-6 max-w-4xl">
    <h1 class="text-2xl font-bold text-yellow-200 mb-6 text-center">
      {{ isAdd ? 'Add a Time slot' : 'Edit a Time slot' }}
    </h1>
    @if(isSubmitted && errorMessage) {
    <div
      class="rounded p-4 mb-4 text-lg bg-red-200 text-red-800 border-2 border-red-300"
    >
      {{ errorMessage }}
    </div>
    }

    <form (ngSubmit)="onSubmit()" #timeSlotForm="ngForm" class="px-4">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <!-- Start Time -->
        <div>
          <label for="startTime" class="block mb-2 text-sm font-medium text-primary"
            >Start time</label
          >
          <input
            type="time"
            id="startTime"
            name="startTime"
            class="bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            placeholder="startTime"
            required
            [(ngModel)]="timeSlot.startTime"
            #startTime="ngModel"
          />
          <div [hidden]="startTime.valid || startTime.pristine" class="text-red-500 mt-2">
            Start time is required
          </div>
        </div>
        <!-- End Time -->
        <div>
          <label for="endTime" class="block mb-2 text-sm font-medium text-primary"
            >End time</label
          >
          <input
            type="time"
            id="endTime"
            name="endTime"
            class="bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            placeholder="End time"
            required
            [(ngModel)]="timeSlot.endTime"
            #endTime="ngModel"
          />
          <div [hidden]="endTime.valid || endTime.pristine" class="text-red-500 mt-2">
            End time is required
          </div>
        </div>

        <div class="col-span-2">

          <label for="artist" class="block mb-2 text-sm font-medium text-primary">Select the artist:</label>
          <select
            id="artist"
            [(ngModel)]="timeSlot.artistId"
            name="artist"
            class="form-select block w-full px-4 py-2 text-base text-gray-700 bg-white border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-green-500 focus:border-green-500 hover:border-gray-400 transition ease-in-out duration-300"
            required
            #artist="ngModel"
          >
            <option value="" disabled selected>-- Select the artist --</option>
            @for (artist of artists$; track artist){
              <option [value]="artist.artistId">
                {{ artist.name }}
              </option>}

          </select>
          <div
            [hidden]="artist.valid || artist.pristine"
            class="text-red-500 mt-2"
          >
            Artist is required
          </div>

        </div>

        <!-- Stage Name -->
        <div class="col-span-2">

          <label for="stage" class="block mb-2 text-sm font-medium text-primary">Select the stage:</label>
          <select
            id="stage"
            [(ngModel)]="timeSlot.stageId"
            name="stage"
            class="form-select block w-full px-4 py-2 text-base text-gray-700 bg-white border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-green-500 focus:border-green-500 hover:border-gray-400 transition ease-in-out duration-300"
            required
            #stage="ngModel"
          >
            <option value="" disabled selected>-- Select the stage --</option>
            @for (stage of stages$; track stage){
              <option [value]="stage.stageId">
                {{ stage.name }}
              </option>}

          </select>
          <div
            [hidden]="stage.valid || stage.pristine"
            class="text-red-500 mt-2"
          >
            Stage is required
          </div>

        </div>
        </div>


      <!-- Buttons -->
      <div class="flex space-x-4 mt-6">
        @if(isAdd) {
        <button
          type="submit"
          [disabled]="!timeSlotForm.form.valid || isSubmitted"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center disabled:opacity-75"
        >
          Add
        </button>
        } @if(isEdit) {
        <button
          type="submit"
          [disabled]="!timeSlotForm.form.valid || isSubmitted"
          class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center disabled:opacity-75"
        >
          Save
        </button>
        }
      </div>
    </form>
  </div>
